<div class="container">
  <div class="row mb-4 p-3">
    <div class="card" @fade>
      <h1>Sobre Nosotros</h1>
      <p>
        Somos un equipo conformado de 4 integrantes universitarios, siendo esta
        pagina un proyecto escolar de nuestra universidad. En donde trabajamos
        para mostrar y vender las mejores casas del arquitecto Samuel de Luque,
        con el fin de entregar trabajos de calidad, los miembros que conforman
        este team son:
      </p>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-4 mb-4">
    <div class="col mb-4">
      <div class="card mb-3" @fade>
        <div class="imgs my-2">
          <img
          src="../../../assets/Img/img1.jpg"
          class="img-fluid rounded"
          alt="..."
          />
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Gerardo Femat Delgado</h5>
          <p class="card-text">
            Soy una persona muy inteligente, me gusta mucho desafiarme en
            matemáticas y dar asesorías a mis compañeros
          </p>
          <a href="//instagram.com/gefemadel?igshid=NTc4MTIwNjQ2YQ=="
            ><img src="../../../assets/Img/instagram.png" width="10%"
          /></a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card mb-3" @fade>
          <div class="imgs my-2">
            <img
              src="../../../assets/Img/img2.jpeg"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
            <div class="card-body text-center">
              <h5 class="card-title">Emmanuel Muñoz Cerda</h5>
              <p class="card-text">
                Tengo 21 años, me gusta mucho escuchar música, una banda que me
                gusta mucho es The Strokes, algo que tambien me gusta hacer es
                ir al gimnasio, soy una persona muy lista y me gusta ayudar a
                mis amigos en lo que pueda.
              </p>
              <a
                href="https://instagram.com/mannymunoz_?igshid=NTc4MTIwNjQ2YQ=="
                ><img src="../../../assets/Img/instagram.png" width="10%"
              /></a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
      <div class="card mb-3" @fade>
          <div class="imgs my-2">
            <img
              src="../../../assets/Img/img4.jpg"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
            <div class="card-body text-center">
              <h5 class="card-title">Sandra Olimpia Prieto García</h5>
              <p class="card-text">
                Tengo 20 años, me gusta ver series, películas y animes, además
                de escuchar música. Me gustan mucho los animales, sobre todo los
                perritos, mi color favorito es el morado
              </p>
              <a
                href="https://instagram.com/sandyolimpia02?igshid=ZGUzMzM3NWJiOQ=="
                ><img src="../../../assets/Img/instagram.png" width="10%"
              /></a>
            </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card mb-3" @fade>
          <div class="imgs my-2">
            <img
              src="../../../assets/Img/img3.gif"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
            <div class="card-body text-center">
              <h5 class="card-title">Francisco de Jesus Mendez Lara</h5>
              <p class="card-text">
                Tengo 20 años, me gusta hacer streams y programar es uno de mis
                pasatiempos favoritos. Me gusta mucho dormir
              </p>
              <a href=" https://www.instagram.com/franciscomendez324/"
                ><img src="../../../assets/Img/instagram.png" width="10%"
              /></a>
            </div>
      </div>
    </div>
  </div>
  <div class="row card mb-4 p-3" @fade>
    <h2 class="my-2">Acerca de nuestra pagina</h2>
    <p>
      AirbnV es una pagina que renta casas de Minecraft, del famoso youtuber Samuel de
      Luque, mejor conocido como Vegetta777. Con la finalidad de que vivan la
      experiencia de poder vivir en una de las construcciones de esté, ver los
      detalles y ¿por qué no?, jugar y crear su propio mundo al lado de estas
      fantasticas casas.
    </p>
    <div class="contenedor justify-content-center">
      <img class="logo" src="../../../assets/Img/777.png" />
      <div class="overlay">
        <div class="text text-center">
          "Si lo puedes imaginar, lo puedes construir"  <br>
          El logo de nuestra empresa representa la imagen que deseamos generar a
          ustedes usuarios, en donde combinamos los elementos caracteristicos del
          creador de las construcciones con elementos de nosotros, creando así el
          logo que ves en pantalla
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4 card p-3" @fade>
    <h2>Acerca del creador de las casas:</h2>
    <p>
      Samuel de Luque Batuecas (Madrid, España; 12 de abril de 1989), más conocido
      como Vegetta777, es un youtuber y streamer español que sube videos de
      gameplays de diversos juegos en su canal de YouTube, en donde cuenta con más
      de 33 millones de suscriptores y 15 mil millones de visitas
    </p>
    <div class="container row">
      <div class="col-12 col-lg-6">
        <div
          id="carouselExampleIndicators"
          class="carousel slide cont"
          style="width: 80%; margin: 0 auto"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class=""
                src="https://img.blogs.es/vizzagency/wp-content/uploads/2022/09/edit-4-3.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                class=""
                src="https://i.pinimg.com/originals/07/9f/5e/079f5e04fefec03b51c1091cc2ae6a31.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                class=""
                src="https://i.pinimg.com/originals/17/48/97/174897bf8e4db8be106ad29fdd70d4cc.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <h2>Estamos regalando una casa</h2>
        <p>
          Por unica, ocasion, estamos sorteando una casa, completamente gratis. Lo
          único que tienes que hacer es suscribirse al canal, activar la
          campanita, y ya estas participando!.
        </p>
        <iframe
          width="100%"
          height="350px"
          [src]="link | video : 'https://www.youtube.com/embed/'"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <!--<img class="triple7" src="https://img.blogs.es/vizzagency/wp-content/uploads/2022/09/edit-4-3.jpg" alt="" srcset="">-->
      </div>
    </div>
  </div>
</div>
