<div class="container">
    <div *ngIf="busqueda != ''; else sinBusqueda">
        <div *ngIf=" resultados.length!=0 ; else sinResultados">
            <div class="card" *ngFor="let casa of resultados">
                <img [src]="casa.rutaImg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" ><p [outerHTML]="casa.nombre"></p></h5>
                    <div class="card-text" >
                        <p [outerHTML]="casa.descripcion"></p>
                    </div>
                    <p class="card-text" >
                        <small class="text-muted" >$<p [outerHTML]="casa.precio"></p></small>
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    
    <ng-template #sinResultados>
        <h1>No hay resultados para la busqueda</h1>
    </ng-template>
    
    <ng-template #sinBusqueda>
        <h1>Ingrese un término de busqueda</h1>
    </ng-template>
</div>
 