<div class="container">
    <table class="table table-dark ">
        <tr>
            <th>Reservación</th>
            <th>Personas</th>
            <th>Fecha Inicio</th>
            <th>Fecha Final</th>
            <th>Total</th>
        </tr>
        <tr *ngFor="let info of data">
            <td>{{info.id }}</td>
            <td>{{info.personas}}</td>
            <td>{{info.fechaInicio}}</td>
            <td>{{info.fechaFinal}}</td>
            <td>{{info.precio}}</td>
        </tr>
    </table>
</div>