<div class="row my-4 text-center">
    <div *ngFor="let casa of casas" @fade class=" mx-xxl-1 col-xxl-2 col-xl-3 col-lg-4 col-md-6 my-1">
        <a  routerLink="/casa/{{ casa.nombre }}" >
            <div class="card">
                <img src="../../../assets/casas/{{casa.carpetaImg}}/{{casa.rutaImg[0]}}" class="card-img-top mb-1 rounded-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center" ><p [outerHTML]="casa.nombre"></p></h5>
                    <div class="card-text" >
                        <p [outerHTML]="casa.descripcion"></p>
                    </div>
                    <div class="card-text my-3" style="display: flex; flex-wrap: wrap;">
                        <p class="m-1"><p-chip label="${{casa.precio}}" icon="pi pi-money-bill"></p-chip></p>
                        <p class="m-1"><p-chip label="{{casa.maxPersonas}}" icon="pi pi-user"></p-chip></p>
                        <p class="m-1"><p-chip label="{{casa.ubicacion.name}}" icon="pi pi-map-marker"></p-chip></p>
                    </div>
                    <div class="card-text flex align-items-center gap-2 flex-wrap " style="display: flex; flex-wrap: wrap;">
                        <p-tag class="m-1" *ngFor="let caracteristica of casa.tags" value="{{caracteristica}}"></p-tag>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>